* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
}

.container .row {
  display: flex;
  justify-content: space-around;
}

.container .row .col-md-5 {
  margin: 10px 10px;
}

.simple-calculate {
  background-color: peachpuff;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.simple-calculate input {
  padding: 5px 10px;
  outline: none;
  border-radius: 4px;
}

.notes {
  margin: 20px;
  padding: 20px;
  background-color: green;
  border-radius: 6px;
  color: white;
  text-align: left;
}

.used {
  background-color: black;
  width: 20px;
  height: 20px;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc-btns {
  margin-top: 20px;
}

.calc-btns button {
  width: 40px;
  height: 40px;
}
.answer {
  background-color: transparent;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.calculate-square {
  background-color: aquamarine;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}

.calculate-square h1 {
  margin-bottom: 30px;
}

input {
  padding: 5px 10px;
  outline: none;
  border-radius: 4px;
}

.calculate-square p {
  font-size: 20px;
  font-weight: 500;
}

.object-example {
  background-color: rgb(255, 182, 182);
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}

.object-example .object-as-value {
  font-size: 32px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}

.array-example {
  background-color: rgb(201, 255, 139);
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}

.array-example .array-as-value {
  font-size: 32px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}

.voting-if-else {
  background-color: rgb(137, 144, 180);
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}

.voting-if-else h1 {
  margin-bottom: 30px;
  color: white;
}

/* SWITCH CASES FOR FRUITS */

.switch-case {
  background-color: rgb(239, 132, 44);
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}

.switch-case h1{
  margin-bottom: 30px;
}
.switch-case h4{
  margin-bottom: 20px;
}
#fruitInfo {
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}


.oops{
  background-color: lightpink;
  padding: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}