.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    color: white;
  }
  
  #box2 {
    background-color: red;
  }
  